[submodule "files/fonts/source-sans-pro"]
	path = files/fonts/source-sans
	url = https://github.com/adobe-fonts/source-sans-pro.git
[submodule "files/fonts/source-serif-pro"]
	path = files/fonts/source-serif
	url = https://github.com/adobe-fonts/source-serif-pro.git
[submodule "files/fonts/source-code-pro"]
	path = files/fonts/source-code-pro
	url = https://github.com/adobe-fonts/source-code-pro.git
[submodule "library/ansible-module-luarocks"]
	path = library/ansible-module-luarocks
	url = https://github.com/rahulg/ansible-module-luarocks.git
